h1{
	font-family: Helvetica;
	font-weight: bold;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 1px;
	font-size: 2.1em;
	padding-left: 20px;
}

img{
	width: 70%;
	height: 70%;
	
	
}

#parent{
	width: 85%;
	float: left;
	padding: 10px;
	 margin-left:10px;
	 position: relative;
	
}

#child{
width: 70%;
	top: 50px;
	position: relative;
	right: 0px;
	font-family: Helvetica;
	font-size: 1em;
	text-align: left;
	
}

#child2{
width: 70%;
	top: -5500px;
	position: relative;
	right: 0px;
	font-family: Helvetica;
	font-size: 1em;
	text-align: left;
	
}

#parent2{
	width: 85%;
	float: left;
	padding: 10px;
	 margin-left:10px;
	 top: 200px;
	 position: relative;
	
}

#parent3{
	width: 85%;
	float: left;
	padding: 10px;
	 margin-left:10px;
	 top: 300px;
	 position: relative;
	
}

#parent4{
	width: 85%;
	float: left;
	padding: 10px;
	 margin-left:10px;
	 top: 400px;
	 position: relative;
	
}

